<!DOCTYPE html>
<html>
  <head>
    <title>PandoRdio</title>
    <style type="text/css">
      body {
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>PandoRdio</h1>
      <h2>Pandora::ThumbsUp => Rdio::SyncToMobile</h2>
    </header>
    <%- body %>
  </body>
</html>
