<!DOCTYPE html>
<html>
  <head>
    <title>PandoRdio</title>
    <link rel="icon" href="/icon.png" />
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/fiobjnnhnijfdkgdmedcbennfngfnfff" />
  </head>
  <body>
    <h1>PandoRdio</h1>
    <img src="/pandordio.png" alt="branding" />
    <%- body %>
  </body>
</html>
