<% if(authorized) { %>
  <p>
    Authorized access granted for <%= name %>. <a href="<%= logoutEndpoint %>">Remove Authorization</a>
  </p>
<% } else { %>
  <p>
    You have not authorized PandoRdio. <a href="<%= loginEndpoint %>">Authorize Now</a>
  </p>
<% } %>
